{% extends "base.html" %} {%block content%}
<h1 class='title_sections'> Hello {{request.user.first_name}}</h1>


<p> MENU:</p>
<div class='form'>
    <p> Add Image </p>
    <form action="/images/create" method="get">
        <div class="input">
            Title:
            <input type="text" name="title">
            <br>
            <br> URL:
            <input type="text" name="url">
            <br>
        </div>
        <div class="button">
            <input type="submit" class="btn btn-primary" value="Next">
        </div>
    </form>
</div>

</ul>

{% endblock %}