{% load thumbnail %} {% for image in images%}
<div class="image-thumbnail">
    <div class="news_title">
        <a href="{{ image.get_absolute_url}}" class="title">
            {{image.title}}
        </a>
    </div>
    <div class='image2'>
        <a href="{{ image.get.absolute_url}}">
            {% thumbnail image.image "100x100" crop="100%" as im %}
            <a href="{{ image.get_absolute_url }}">
                <img src="{{im.url}}">
            </a>
            {% endthumbnail %}
        </a>
    </div>
    <div class="news_author">
        <a href="{{ image.get_absolute_url}}" class="title">
           Author: {{image.user.first_name}}
        </a>
    </div>
</div>

{% endfor%}